@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:900&amp;subset=latin,latin-ext");

@font-face {
  font-family: "MorrisRoman";
  src: url("/font/MorrisRomanBlack.otf");
  src: url("/font/MorrisRomanBlack.ttf");
}

:root {
  --dark: #0e0e0e;
  --gold: #ffcc33;
  --available: #51ff0d;
  --unavailable: crimson;
  --benefit: #b3ff00;
  --building-section: rgba(0, 0, 0, 40%);

  --bright-high: 130%;
  --bright-low: 60%;
  --bright-lowest: 40%;

  --tier-handmade: grey;
  --tier-poor: aliceblue;
  --tier-very-common: #8eb6ff;
  --tier-common: #3778f1;
  --tier-frequent: lightgreen;
  --tier-uncommon: #00ff00;
  --tier-rare: #1437f8;
  --tier-very-rare: #fc5677;
  --tier-extremely-rare: crimson;
  --tier-epic: #8344ff;
  --tier-legendary: orangered;
  --tier-mythic: yellow;
  --tier-marvelous: cyan;
  --tier-superb: magenta;
  --tier-outstanding: linear-gradient(
    140deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  // list-style: none;
  margin-left: -0.5rem;
  margin-right: 1rem;
}

/* Scrollbars */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

::-webkit-scrollbar-thumb:active {
  background: #bbb;
}

/* Animations */
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ccc;
  font-family: "Merriweather", Georgia, serif;
  text-shadow: 2px 2px 4px #000;
  font-size: medium;
}

#tooltip {
  display: none;
  justify-content: left;
  flex-direction: column;
  z-index: 99999;
  border: 3px solid transparent;
  border-image: url("/img/tooltip_border.png") 3 round;
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
    0px 0px 10px 2px rgba(0, 0, 0, 60%);
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
    0px 0px 10px 2px rgba(0, 0, 0, 60%);
  -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
    0px 0px 10px 2px rgba(0, 0, 0, 60%);
  position: absolute;
  background: url("/img/popup_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto Slab";
  font-size: medium;
  font-weight: bold;
  padding: 10px;
  max-width: 550px;
  min-width: 300px;

  .header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: min-content;

    .container {
      width: 100%;
    }

    .title {
      font-family: "Roboto Slab";
      display: flex;
      align-items: center;
    }

    .subtitle {
      display: flex;
      align-items: center;
      font-size: x-small;
      font-weight: normal;
      font-family: Tahoma, Arial, sans-serif;
      margin-top: 2px;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      white-space: nowrap;
    }
  }

  .value {
    height: fit-content;
    min-width: max-content;
    color: var(--available);
    font-size: small;
    font-weight: normal;
    font-family: "Merriweather";

    &.unavailable {
      color: var(--unavailable);
    }

    &:not(:empty)::before {
      content: url("/img/coins.png");
      position: absolute;
      margin-left: -20px;
      -webkit-filter: drop-shadow(0px 0px 2px var(--dark));
      filter: drop-shadow(0px 0px 2px var(--dark));
    }
  }

  .hidden-value {
    display: none;
  }

  .icon {
    transform: scale(1.2);
    margin-right: 8px;
    width: 32px;
    min-width: 32px;
    height: 32px;
    filter: drop-shadow(0px 0px 3px black) contrast(1.2);
    -webkit-filter: drop-shadow(0px 0px 3px black) contrast(1.2);
  }

  .content {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.7rem;

    &.no-margin {
      margin-top: 0;
    }
  }

  .separator {
    position: relative;
    height: 1px;
    width: 100%;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0)
    );
    margin: 8px 0 8px 0;
  }

  .quote {
    font-family: "MorrisRoman";
    font-size: 1rem;
    font-style: italic;
    color: grey;
    display: flex;
    justify-content: end;
    text-align: right;
  }

  .tier-upgrades {
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    margin-bottom: 4px;
    margin-left: -20px;
  }
}

.achievment-unlocked {
  color: darkgoldenrod;
  font-style: italic;
}

.achievment {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 3px solid transparent;
  border-image: url("/img/tooltip_border.png") 3 round;
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
    0px 0px 10px 2px rgba(0, 0, 0, 60%);
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
    0px 0px 10px 2px rgba(0, 0, 0, 60%);
  -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
    0px 0px 10px 2px rgba(0, 0, 0, 60%);
  background: url("/img/popup_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightskyblue;
  background-blend-mode: multiply;
  margin-top: 5px;
  padding: 7px 10px 10px 10px;
  width: 300px;

  img {
    width: 32px;
    height: 32px;
  }

  .icon {
    padding-right: 10px;
  }

  .title {
    font-family: "Roboto Slab";
    font-weight: bold;
  }

  .subtitle {
    display: flex;
    align-items: center;
    font-size: x-small;
    font-weight: normal;
    font-family: Tahoma, Arial, sans-serif;
    margin-top: 2px;
  }
}

.console {
  &.buy-building {
    color: mediumspringgreen;

    span {
      font-weight: 600;

      &:nth-of-type(1) {
        color: var(--benefit);
      }

      &:nth-of-type(2) {
        color: var(--gold);
      }
    }
  }

  &.buy-upgrade {
    color: mediumpurple;

    span {
      font-weight: 600;

      &:nth-of-type(2) {
        color: var(--benefit);
      }

      &:nth-of-type(3) {
        color: var(--gold);
      }
    }
  }

  &.levelUp {
    color: palegoldenrod;

    span {
      font-weight: 600;
      color: var(--gold);
    }
  }
}

#wrapper {
  position: relative;
  height: calc(100% - 25px);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;

  #game {
    padding: 0;
    box-shadow: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .background {
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      background-color: dimgrey;
      background-attachment: initial;
      height: 110%;
      width: 110%;
      filter: saturate(1.5) contrast(1.03);
    }

    .divider {
      width: 20px;
      position: relative;
      background: #333;
      box-shadow: 0px 0px 0px 1px #111 inset, 0px 0px 0px 3px #444 inset,
        1px 1px 2px 3px #222 inset;
    }

    #donjon {
      overflow: hidden;
      width: calc(100% - 340px);
      position: relative;

      box-shadow: 1px 0px 20px 20px rgba(0, 0, 0, 0.5) inset;
      -webkit-box-shadow: 1px 0px 20px 20px rgba(0, 0, 0, 0.5) inset;
      -moz-box-shadow: 1px 0px 20px 20px rgba(0, 0, 0, 0.5) inset;

      .band {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        height: 60px;
        top: 10%;
        margin: auto;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 0%,
          rgba(121, 116, 55, 0.596) 50%,
          rgba(0, 0, 0, 0) 100%
        );
        z-index: 100;

        &::before,
        &::after {
          content: "";
          height: 1px;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.25) 50%,
            rgba(255, 255, 255, 0) 100%
          );
          position: absolute;
          left: 0px;
          right: 0px;
          z-index: -1;
        }

        &::before {
          top: -1px;
        }

        &::after {
          bottom: -1px;
        }
      }

      .coin-floating {
        position: absolute;
        pointer-events: none;
        margin-left: -20px;
        margin-top: -20px;
        z-index: 10;

        &.number {
          color: var(--gold);
          font-size: 1.5rem;
        }
      }

      #donjon-heroname {
        cursor: pointer;
        width: 40%;

        p {
          font-family: "MorrisRoman";
          font-size: xxx-large;
          color: lightyellow;
        }
      }

      #donjon-stats {
        top: 180px;
        width: 60%;
      }

      #donjon-stats-persec {
        top: 245px;
        height: 25px;
        width: 30%;
        opacity: 0.6;
      }

      #chest-button {
        cursor: pointer;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 268px;
        height: 238px;
        transition: all 0.15s ease-in-out;
        background: url("/img/treasure_chest.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;

        &:hover {
          background: url("/img/treasure_chest_bright.png");
          transform: scale(1.05);

          &.pressed {
            transform: scale(1.1);
          }
        }
      }

      #light {
        position: absolute;
        width: 835px;
        height: 641px;
        top: 10%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-image: url("/img/flare.png");
        background-position: center;
        background-size: cover;
        -webkit-transition: opacity 0.6s ease-in-out;
        -moz-transition: opacity 0.6s ease-in-out;
        -ms-transition: opacity 0.6s ease-in-out;
        -o-transition: opacity 0.6s ease-in-out;
        transition: opacity 0.6s ease-in-out;
        opacity: 0.3;

        &.rotate {
          -webkit-animation-name: rotate360;
          -webkit-animation-duration: 8s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
          animation-name: rotate360;
          animation-duration: 8s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        &.show {
          opacity: 1;
        }
      }

      #coins {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: xx-large;
        font-weight: bold;
        color: var(--gold);
        text-shadow: -1px 0px 3px rgba(0, 0, 0, 1);
        line-height: 0.8;

        span {
          font-family: "MorrisRoman";
          font-size: x-large;
          padding-left: 10px;
          padding-right: 5px;
        }

        &.per-sec {
          display: block;
          font-size: small;
          margin-top: 2px;
          opacity: 0.6;

          // &::before {
          //   content: "(+";
          // }

          // &::after {
          //   content: "/s)";
          // }
        }
      }
    }

    #store {
      width: 300px;
      position: relative;

      .columns {
        display: flex;
        position: relative;
        height: 100%;
      }

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        background: url("/img/top_bar.jpg");
        background-position: center;
        background-size: cover;
        font-family: "MorrisRoman";
        padding-bottom: 10px;

        &.big {
          background-color: var(--dark);
          background-blend-mode: difference;
          background-size: cover;

          span {
            font-size: xxx-large;
          }
        }

        &.normal {
          background-size: cover;

          span {
            font-size: xx-large;
          }
        }
      }

      #store-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 70px;
        bottom: 0px;
        overflow-y: scroll;
        padding-bottom: 48px;
        position: absolute;
        background-image: url(../img/popup_bg.png);
        background-color: #333;
        background-blend-mode: multiply;

        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 0;
          background: transparent;
        }

        .title-section {
          height: 30px;
          text-align: center;
          background: url("/img/top_bar.jpg");
          background-position: center;
          background-color: var(--building-section);
          background-blend-mode: difference;
          background-size: contain;
        }

        .store-section {
          display: flex;
          flex-direction: column;
          font-size: 1.3rem;
          font-family: "MorrisRoman";

          .container.upgrades {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 2px;
            overflow-y: clip;
            max-height: 62px;
            transition: max-height 0.2s ease-in-out;

            &::-webkit-scrollbar {
              -webkit-appearance: none;
              width: 3px;
              background: transparent;
            }

            &::-webkit-scrollbar-thumb {
              background: #ccc;
              border-radius: 16px;
            }

            &:hover {
              max-height: 100vh;
              transition: max-height 0.3s ease-in-out;
            }
          }
        }

        .upgrades-unavailable {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 60px;
          width: 100%;
          color: burlywood;
          font-family: "Merriweather";
          font-size: 0.7rem;
          padding-top: 6px;
          opacity: 0.3;
        }

        .upgrade-button {
          cursor: pointer;
          width: 58px;
          height: 58px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 2px 1px 0px 1px;
          border-radius: 4px;
          text-shadow: 2px 2px 4px #000, 0px 0px 7px var(--dark),
            0px 0px 10px var(--dark);

          .upgrade-image {
            background-position: center;
            background-size: cover;
            height: 40px;
            width: 40px;
            filter: drop-shadow(0px 0px 3px black) contrast(1.2);
            -webkit-filter: drop-shadow(0px 0px 3px black) contrast(1.2);
          }

          &.tier {
            background: url(/img/popup_bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-blend-mode: hard-light;
            border-style: ridge;

            &.handmade {
              background-color: var(--tier-handmade);
              border-color: var(--tier-handmade);
            }

            &.poor {
              background-color: var(--tier-poor);
              border-color: var(--tier-poor);
            }

            &.very-common {
              background-color: var(--tier-very-common);
              border-color: var(--tier-very-common);
            }

            &.common {
              background-color: var(--tier-common);
              border-color: var(--tier-common);
            }

            &.frequent {
              background-color: var(--tier-frequent);
              border-color: var(--tier-frequent);
            }

            &.uncommon {
              background-color: var(--tier-uncommon);
              border-color: var(--tier-uncommon);
            }

            &.rare {
              background-color: var(--tier-rare);
              border-color: var(--tier-rare);
            }

            &.very-rare {
              background-color: var(--tier-very-rare);
              border-color: var(--tier-very-rare);
            }

            &.extremely-rare {
              background-color: var(--tier-extremely-rare);
              border-color: var(--tier-extremely-rare);
            }

            &.epic {
              background-color: var(--tier-epic);
              border-color: var(--tier-epic);
            }

            &.legendary {
              background-color: var(--tier-legendary);
              border-color: var(--tier-legendary);
            }

            &.mythic {
              background-color: var(--tier-mythic);
              border-color: var(--tier-mythic);
            }

            &.marvelous {
              background-color: var(--tier-marvelous);
              border-color: var(--tier-marvelous);
            }

            &.superb {
              background-color: var(--tier-superb);
              border-color: var(--tier-superb);
            }

            &.outstanding {
              background-image: var(--tier-outstanding),
                url(../img/popup_bg.png);
              background-blend-mode: soft-light;
              border-image: var(--tier-outstanding);
              border-image-slice: 1;
            }

            &:not(.disabled-tara):hover {
              filter: brightness(var(--bright-high));
              -webkit-filter: brightness(var(--bright-high));
              transform: scale(1.04);
            }

            &:not(.disabled-tara):active {
              filter: brightness(var(--bright-low));
              -webkit-filter: brightness(var(--bright-low));
              transform: scale(0.97);
            }

            &.disabled-tara {
              cursor: not-allowed;
              filter: brightness(var(--bright-lowest));
              -webkit-filter: brightness(var(--bright-lowest));

              &:hover {
                transform: scale(1.04);
              }
            }
          }
        }

        .building-button {
          cursor: pointer;
          width: 300px;
          height: 80px;
          background: url("/img/building_button.png") 0 -160px;
          background-size: cover;
          background-repeat: no-repeat;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          // padding: 4px 0 0 60px;
          padding: 10px 0 10px 20px;
          text-shadow: 2px 2px 4px #000, 0px 0px 7px var(--dark),
            0px 0px 10px var(--dark);

          &.locked {
            cursor: help;
            background: url("/img/building_button.png") 0 0;
          }

          &.disabled {
            cursor: not-allowed;
            filter: brightness(var(--bright-low));
            -webkit-filter: brightness(var(--bright-low));

            :nth-child(2):nth-child(2) {
              color: var(--unavailable);
            }
          }

          &:not(.dungeon):not(.disabled):not(.locked):hover {
            background: url("/img/building_button.png") 0 -240px;

            &:active {
              background: url("/img/building_button.png") 0 -80px;
              box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
                0px 0px 10px 2px rgba(0, 0, 0, 60%);
              -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
                0px 0px 10px 2px rgba(0, 0, 0, 60%);
              -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
                0px 0px 10px 2px rgba(0, 0, 0, 60%);

              div {
                transform: scale(0.97);
              }
            }
          }

          &.dungeon {
            background: url("/img/building_button.png") 0 -400px;

            &:not(.disabled):not(.locked):hover {
              background: url("/img/building_button.png") 0 -480px;

              &:active {
                background: url("/img/building_button.png") 0 -320px;
                box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
                  0px 0px 10px 2px rgba(0, 0, 0, 60%);
                -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
                  0px 0px 10px 2px rgba(0, 0, 0, 60%);
                -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 90%),
                  0px 0px 10px 2px rgba(0, 0, 0, 60%);

                div {
                  transform: scale(0.97);
                }
              }
            }
          }

          .building-image {
            background-position: center;
            background-size: cover;
            height: 48px;
            width: 48px;
            margin: 5px 8px 0 -15px;
            filter: drop-shadow(0px 0px 3px black) contrast(1.2);
            -webkit-filter: drop-shadow(0px 0px 3px black) contrast(1.2);
          }

          .building-header {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: -5px;

            .building-name {
              font-family: "MorrisRoman";
              font-size: 2.5rem;
              color: whitesmoke;
              z-index: 1;
            }

            .building-cost {
              color: var(--available);
              margin-left: 25px;
              margin-top: -2px;
              font-size: small;
              font-family: "Merriweather";

              &::before {
                content: url("/img/coins.png");
                position: absolute;
                margin-left: -20px;
                -webkit-filter: drop-shadow(0px 0px 2px var(--dark));
                filter: drop-shadow(0px 0px 2px var(--dark));
              }
            }
          }

          .building-count-owned {
            position: absolute;
            right: 10;
            font-family: "MorrisRoman";
            font-size: xx-large;
            color: rgba(240, 255, 240, 0.4);
            margin-top: 30px;
            text-shadow: 2px 2px 5px var(--dark), 2px 2px 5px var(--dark),
              2px 2px 5px var(--dark);
          }
        }
      }
    }

    #log {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 170px;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 6px 6px 0 0;

      .text {
        font-family: monospace;
        width: 100%;
        margin: 10px;
        padding: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 25px;
  background: url("/img/top_bar.jpg");
  background-size: contain;
  background-color: var(--dark);
  background-blend-mode: luminosity;
  transform: rotateX(180deg);

  a {
    padding-left: 3px;
    color: white;

    &:hover {
      color: wheat;
    }
  }

  div {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 0 10px 0 10px;
    transform: rotateX(180deg);
    font-size: x-small;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px dotted rgba(128, 128, 128, 0.404);

    &.social {
      background-position: 10px 3px;
      background-repeat: no-repeat;
      padding-left: 30px;

      &.twitter {
        background-image: url("/img/social/twitter.png");
      }

      &.youtube {
        background-image: url("/img/social/youtube.png");
      }

      &.github {
        background-image: url("/img/social/github.png");
      }
    }
  }
}
